<h1>1. Variable Swap:</h1>

In [3]:
# Swapping two variables without using a temporary variable
a = 5
b = 10
a, b = b, a
print(a, b)  # Output: 10 5

10 5

<h1>2. Even or Odd:</h1>

In [6]:
# Check if a number is even or odd
num = int(input("Enter an integer: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter an integer:  7

Odd

<h1>3. String Reverse:</h1>

In [9]:
# Function to reverse a string
def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))  # Output: "olleh"

olleh

<h1>4. Type Conversion: </h1>

In [12]:
# Convert each integer in a list to a string
lst = [1, 2, 3, 4, 5]
str_lst = list(map(str, lst))
print(str_lst)  # Output: ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

<h1>5. Temperature Converter: </h1>

In [17]:
# Convert Celsius to Fahrenheit
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print(f"{celsius}°C is {fahrenheit}°F")

Enter temperature in Celsius:  30

30.0°C is 86.0°F

<h1>6. Data Type Checker:</h1>

In [20]:
# Function to check the data type of a variable
def check_data_type(variable):
    return type(variable).__name__

print(check_data_type(5))      # Output: "int"
print(check_data_type(3.14))   # Output: "float"
print(check_data_type("hello"))  # Output: "str"

int
float
str

<h1>7. String Palindrome:</h1>

In [23]:
# Function to check if a string is a palindrome
def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("racecar"))  # Output: True
print(is_palindrome("hello"))    # Output: False

True
False

<h1>8. String Reversal with Slicing:</h1>

In [26]:
# Function to reverse a string using slicing
def reverse_string_slicing(s):
    return s[::-1]

print(reverse_string_slicing("hello"))  # Output: "olleh"

olleh

<h1>9. String Concatenation without +:</h1>

In [29]:
# Concatenate two strings without using '+'
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
concatenated = "{}{}".format(str1, str2)
print(concatenated)

Enter first string:  Hello
Enter second string:  World!

HelloWorld!

<h1>10. Typecasting Challenge:</h1>

In [32]:
# Typecasting Challenge: Given three variables: `a = ‘100’`, `b = 25`, and `c = ‘10.5’`, write a Python program to perform the following operations and print the results: – Convert `a` to an integer and add it to `b`. – Convert `c` to a float and subtract it from the result of the first operation. – Convert the final result to a string and concatenate it with the string ” is the answer.”

a = '100'
b = 25
c = '10.5'

# Convert `a` to int and add to `b`
result = int(a) + b

# Convert `c` to float and subtract from result
result -= float(c)

# Convert final result to string and concatenate with " is the answer."
final_result = str(result) + " is the answer."
print(final_result)

114.5 is the answer.

<h1>11. Positive, Negative, or Zero</h1>

In [35]:
# . Positive, Negative, or Zero: Write a Python program that takes a number as input and prints whether it is positive, negative, or zero.
# Check if a number is positive, negative, or zero
num = float(input("Enter a number: "))
if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Enter a number:  10

Positive

<h1>12. Largest of Three Numbers</h1>

In [38]:
# Largest of Three Numbers: Write a Python program that takes three numbers as input and prints the largest among them.
# Find the largest of three numbers
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
c = float(input("Enter third number: "))
largest = max(a, b, c)
print(f"The largest number is {largest}")

Enter first number:  13
Enter second number:  5
Enter third number:  7

The largest number is 13.0

<h1>13. Leap Year Checker</h1>

In [41]:
# Leap Year Checker: Write a Python program that takes a year as input and determines if it is a leap year or not.
# Check if a year is a leap year
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year:  2024

2024 is a leap year

<h1>14. Grades Classification</h1>

In [44]:
#Grades Classification: Write a Python program that takes a student’s percentage as input and prints their corresponding grade according to the following criteria: – 90% or above: A+ – 80-89%: A – 70-79%: B – 60-69%: C – Below 60%: Fail

# Classify grades based on percentage
percentage = float(input("Enter percentage: "))
if percentage >= 90:
    print("Grade: A+")
elif percentage >= 80:
    print("Grade: A")
elif percentage >= 70:
    print("Grade: B")
elif percentage >= 60:
    print("Grade: C")
else:
    print("Grade: Fail")

Enter percentage:  76

Grade: B

<h1>15. Vowel or Consonant</h1>

In [47]:
#Vowel or Consonant: Write a Python program that takes a single character as input and determines whether it is a vowel or a consonant.

# Check if a character is a vowel or consonant
char = input("Enter a single character: ").lower()
if char in 'aeiou':
    print(f"{char} is a vowel")
else:
    print(f"{char} is a consonant")

Enter a single character:  F

f is a consonant

<h1>16. Time Classification</h1>

In [50]:
#Time Classification: Write a Python program that takes the time in hours (24-hour format) as input and prints “Good Morning”, “Good Afternoon”, “Good Evening”, or “Good Night” based on the time.

# Classify time into morning, afternoon, evening, or night
hour = int(input("Enter time in 24-hour format (0-23): "))
if 5 <= hour < 12:
    print("Good Morning")
elif 12 <= hour < 17:
    print("Good Afternoon")
elif 17 <= hour < 21:
    print("Good Evening")
else:
    print("Good Night")

Enter time in 24-hour format (0-23):  20

Good Evening

<h1>17. Triangle Type Checker</h1>

In [53]:
#Triangle Type Checker: Write a Python program that takes three sides of a triangle as input and determines whether it forms an equilateral, isosceles, or scalene triangle.
# Check the type of triangle based on its sides
side1 = float(input("Enter first side: "))
side2 = float(input("Enter second side: "))
side3 = float(input("Enter third side: "))
if side1 == side2 == side3:
    print("Equilateral triangle")
elif side1 == side2 or side1 == side3 or side2 == side3:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Enter first side:  4
Enter second side:  5
Enter third side:  6

Scalene triangle

<h1>18. Quadratic Equation Solver</h1>

In [56]:
#. Quadratic Equation Solver: Write a Python program that takes the coefficients (a, b, c) of a quadratic equation as input and calculates and prints the real roots (if they exist) or a message indicating the complex roots.


import math

# Solve a quadratic equation ax^2 + bx + c = 0
a = float(input("Enter coefficient a: "))
b = float(input("Enter coefficient b: "))
c = float(input("Enter coefficient c: "))

discriminant = b**2 - 4*a*c

if discriminant > 0:
    root1 = (-b + math.sqrt(discriminant)) / (2*a)
    root2 = (-b - math.sqrt(discriminant)) / (2*a)
    print(f"Real roots: {root1} and {root2}")
elif discriminant == 0:
    root = -b / (2*a)
    print(f"One real root: {root}")
else:
    print("Complex roots")

Enter coefficient a:  2
Enter coefficient b:  3
Enter coefficient c:  1

Real roots: -0.5 and -1.0

<h1>19. Number Ranges</h1>

In [61]:
#Number Ranges: Write a Python program that takes an integer as input and prints whether the number falls within the ranges: 0-50, 51-100, 101-150, or above 150.

# Check which range a number falls into
num = int(input("Enter a number: "))
if 0 <= num <= 50:
    print("Number is in the range 0-50")
elif 51 <= num <= 100:
    print("Number is in the range 51-100")
elif 101 <= num <= 150:
    print("Number is in the range 101-150")
else:
    print("Number is above 150")

Enter a number:  80

Number is in the range 51-100

<h1>20. Sum of N Numbers</h1>

In [413]:
#Sum of N Numbers: Write a Python program using a for loop to calculate the sum of the first N natural numbers, where N is taken as input from the user.
# Sum of N Numbers
N = int(input("Enter a number: "))
sum_n = 0
for i in range(1, N + 1):
    sum_n += i
print("Sum of the first", N, "natural numbers is:", sum_n)

Enter a number:  10

Sum of the first 10 natural numbers is: 55

<h1>21. Factorial Calculator</h1>

In [67]:
#Factorial Calculator: Write a Python program using a while loop to calculate the factorial of a given number N.

# Factorial Calculator

N = int(input("Enter a number: "))
factorial = 1
while N > 0:
    factorial *= N
    N -= 1
print("Factorial is:", factorial)

Enter a number:  4

Factorial is: 24

<h1>22. Table of a Number</h1>

In [70]:
# Table of a Number
N = int(input("Enter a number: "))
for i in range(1, 11):
    print(N, 'x', i, '=', N * i)

Enter a number:  4

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

<h1>23. Count Digits in a Number</h1>

In [73]:
# Count Digits in a Number
N = int(input("Enter a number: "))
count = 0
while N > 0:
    N //= 10
    count += 1
print("Number of digits:", count)

Enter a number:  1996

Number of digits: 4

<h1>24. Fibonacci Sequence</h1>

In [76]:
# Fibonacci Sequence
N = int(input("Enter the limit: "))
a, b = 0, 1
for _ in range(N):
    print(a, end=' ')
    a, b = b, a + b

Enter the limit:  10

0 1 1 2 3 5 8 13 21 34

<h1>25. Sum of Even Numbers</h1>

In [79]:
# Sum of Even Numbers
N = int(input("Enter a number: "))
sum_even = 0
i = 2
while i <= N:
    sum_even += i
    i += 2
print("Sum of even numbers between 1 and", N, "is:", sum_even)

Enter a number:  10

Sum of even numbers between 1 and 10 is: 30

<h1>26. Print Patterns</h1>

In [82]:
# Print Patterns
N = int(input("Enter the number of rows: "))

# Right-angled triangle
print("Right-angled triangle:")
for i in range(1, N + 1):
    print('*' * i)

# Inverted right-angled triangle
print("\nInverted right-angled triangle:")
for i in range(N, 0, -1):
    print('*' * i)

Enter the number of rows:  4

Right-angled triangle:
*
**
***
****

Inverted right-angled triangle:
****
***
**
*

<h1>27. Prime Number Checker</h1>

In [85]:
# Prime Number Checker
N = int(input("Enter a number: "))
is_prime = True
i = 2
while i <= N // 2:
    if N % i == 0:
        is_prime = False
        break
    i += 1
if is_prime and N > 1:
    print(N, "is a prime number")
else:
    print(N, "is not a prime number")

Enter a number:  33

33 is not a prime number

<h1>28. List Manipulation</h1>

In [88]:
# List Manipulation
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
sum_numbers = sum(numbers)
average = sum_numbers / len(numbers)
max_number = max(numbers)
min_number = min(numbers)
print("Sum:", sum_numbers)
print("Average:", average)
print("Maximum:", max_number)
print("Minimum:", min_number)

Enter a list of numbers separated by spaces:  1 3 5 8 12 30

Sum: 59
Average: 9.833333333333334
Maximum: 30
Minimum: 1

<h1>29. Reverse String</h1>

In [93]:
# Reverse String
string = input("Enter a string: ")

i = len(string) - 1
while i >= 0:
    print(string[i], end="")
    i -= 1

Enter a string:  Hello

olleH

<h1>30. Multiplication Table</h1>

In [96]:
# Multiplication Table
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} x {j} = {i * j}")
    print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

<h1>31. Print Patterns</h1>

In [99]:
# Print Patterns
N = 5
for i in range(1, N + 1):
    print('*' * i)

*
**
***
****
*****

<h1>32. Matrix Multiplication</h1>

In [102]:
# Matrix Multiplication
X = [[1, 2, 3],
     [4, 5, 6],
     [7, 8, 9]]

Y = [[9, 8, 7],
     [6, 5, 4],
     [3, 2, 1]]

result = [[0, 0, 0],
          [0, 0, 0],
          [0, 0, 0]]

for i in range(len(X)):
    for j in range(len(Y[0])):
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

for r in result:
    print(r)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

<h1>33. Chessboard Pattern</h1>

In [105]:
# Chessboard Pattern
N = 8
for i in range(N):
    for j in range(N):
        if (i + j) % 2 == 0:
            print("X", end=" ")
        else:
            print("O", end=" ")
    print()

X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X
X O X O X O X O
O X O X O X O X

<h1>34. Number Pyramid</h1>

In [109]:
# Number Pyramid
N = 5
for i in range(1, N + 1):
    print(str(i) * i)

1
22
333
4444
55555

<h1>34. List Sum</h1>

In [112]:
# List Sum
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
sum_numbers = sum(numbers)
print("Sum of all elements in the list is:", sum_numbers)

Enter a list of numbers separated by spaces:  4 5 8 9 2 11

Sum of all elements in the list is: 39

<h1>35. List Average</h1>

In [115]:
# List Average
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
average = sum(numbers) / len(numbers)
print("Average of all elements in the list is:", average)

Enter a list of numbers separated by spaces:  3 5 7 4 8

Average of all elements in the list is: 5.4

<h1>36. List Max and Min</h1>

In [118]:
# List Max and Min
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
max_number = max(numbers)
min_number = min(numbers)
print("Maximum value in the list is:", max_number)
print("Minimum value in the list is:", min_number)

Enter a list of numbers separated by spaces:  3 5 7 4 8

Maximum value in the list is: 8
Minimum value in the list is: 3

<h1>37. List Sorting</h1>

In [121]:
# List Sorting
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
numbers.sort()
print("Sorted list in ascending order is:", numbers)

Enter a list of numbers separated by spaces:  3 5 7 4 8

Sorted list in ascending order is: [3, 4, 5, 7, 8]

<h1>38. List Filtering</h1>

In [124]:
# List Filtering
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
even_numbers = [num for num in numbers if num % 2 == 0]
print("List of even numbers is:", even_numbers)

Enter a list of numbers separated by spaces:  3 5 7 4 8

List of even numbers is: [4, 8]

<h1>39. List Reversal</h1>

In [127]:
# List Reversal
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
reversed_list = []
for i in range(len(numbers) - 1, -1, -1):
    reversed_list.append(numbers[i])
print("Reversed list is:", reversed_list)

Enter a list of numbers separated by spaces:  3 5 7 4 8

Reversed list is: [8, 4, 7, 5, 3]

<h1>40. List Manipulation</h1>

In [130]:
# List Manipulation
list1 = list(map(int, input("Enter the first list of numbers separated by spaces: ").split()))
list2 = list(map(int, input("Enter the second list of numbers separated by spaces: ").split()))
common_elements = [num for num in list1 if num in list2]
print("Common elements in both lists are:", common_elements)

Enter the first list of numbers separated by spaces:  3 5 7 4 8
Enter the second list of numbers separated by spaces:  4 9 10 12 15

Common elements in both lists are: [4]

<h1>41. List Element Count</h1>

In [133]:
# List Element Count
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
element = int(input("Enter the element to count: "))
count = numbers.count(element)
print(f"The element {element} occurs {count} times in the list.")

Enter a list of numbers separated by spaces:  3 5 7 4 8
Enter the element to count:  5

The element 5 occurs 1 times in the list.

<h1>42. List Duplicates Removal</h1>

In [138]:
# List Duplicates Removal
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
unique_numbers = []
for num in numbers:
    if num not in unique_numbers:
        unique_numbers.append(num)
print("List after removing duplicates is:", unique_numbers)

Enter a list of numbers separated by spaces:  3 5 7 4 8 3

List after removing duplicates is: [3, 5, 7, 4, 8]

<h1>43. List Comprehension</h1>

In [141]:
# List Comprehension
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
squared_numbers = [num ** 2 for num in numbers]
print("List of squares of the elements is:", squared_numbers)

Enter a list of numbers separated by spaces:  3 5 7 4 8

List of squares of the elements is: [9, 25, 49, 16, 64]

<h1>44. Matrix Addition</h1>

In [144]:
#Matrix Addition: Write a Python program to add two matrices represented as nested lists.

def add_matrices(matrix1, matrix2):
    result = [[matrix1[i][j] + matrix2[i][j] for j in range(len(matrix1[0]))] for i in range(len(matrix1))]
    return result

# Example usage:
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]
print(add_matrices(matrix1, matrix2))

[[10, 10, 10], [10, 10, 10], [10, 10, 10]]

<h1>45. Flatten Nested List</h1>

In [147]:
#Flatten Nested List: Write a Python program to flatten a given nested list and convert it into a single-dimensional list.

def flatten_nested_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(flatten_nested_list(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<h1>46. List Element Frequency</h1>

In [150]:
#. List Element Frequency: Given a nested list containing lists of integers, write a Python program to count the frequency of each element in the entire nested list.


from collections import Counter

def element_frequency(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    frequency = Counter(flat_list)
    return frequency

# Example usage:
nested_list = [[1, 2, 2], [3, 4, 4, 4], [5, 6, 6]]
print(element_frequency(nested_list))

Counter({4: 3, 2: 2, 6: 2, 1: 1, 3: 1, 5: 1})

<h1>47. Transpose Matrix</h1>

In [153]:
# Transpose Matrix: Write a Python program to transpose a given matrix represented as a nested list.

def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

# Example usage:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(transpose_matrix(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

<h1>48. List of Lists Concatenation</h1>

In [156]:
#List of Lists Concatenation: Given a list of nested lists, write a Python program to concatenate all the sublists into a single flat list.

def concatenate_lists(nested_list):
    concatenated_list = [item for sublist in nested_list for item in sublist]
    return concatenated_list

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(concatenate_lists(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<h1>49. Tuple Concatenation</h1>

In [159]:
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(concatenate_tuples(tuple1, tuple2))

(1, 2, 3, 4, 5, 6)

<h1>50. Tuple Unpacking</h1>

In [162]:
def unpack_tuple(t):
    x, y, z = t
    return x, y, z

# Example usage:
t = (1, 2, 3)
x, y, z = unpack_tuple(t)
print(x, y, z)

1 2 3

<h1>51. Tuple Sorting</h1>

In [165]:
def sort_tuple(t):
    return tuple(sorted(t))

# Example usage:
t = (3, 1, 2)
print(sort_tuple(t))

(1, 2, 3)

<h1>52. Tuple Frequency Count</h1>

In [168]:
def count_frequency(t, element):
    return t.count(element)

# Example usage:
t = (1, 2, 2, 3, 3, 3)
element = 3
print(count_frequency(t, element))

3

<h1>53. Tuple to List</h1>

In [171]:
def tuple_to_list(t):
    return list(t)

# Example usage:
t = (1, 2, 3)
print(tuple_to_list(t))

[1, 2, 3]

<h1>54. Tuple Reversal</h1>

In [174]:
def reverse_tuple(t):
    return t[::-1]

# Example usage:
t = (1, 2, 3)
print(reverse_tuple(t))

(3, 2, 1)

<h1>55. Tuple Slicing</h1>

In [177]:
def slice_tuple(t, start, end):
    return t[start:end]

# Example usage:
t = (1, 2, 3, 4, 5)
print(slice_tuple(t, 1, 4))

(2, 3, 4)

<h1>56. Tuple Operations</h1>

In [180]:
def tuple_operations(tuple1, tuple2):
    addition = tuple(a + b for a, b in zip(tuple1, tuple2))
    subtraction = tuple(a - b for a, b in zip(tuple1, tuple2))
    multiplication = tuple(a * b for a, b in zip(tuple1, tuple2))
    return addition, subtraction, multiplication

# Example usage:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
print(tuple_operations(tuple1, tuple2))

((5, 7, 9), (-3, -3, -3), (4, 10, 18))

<h1>57. Tuple Membership Test</h1>

In [183]:
def check_membership(t, element):
    return element in t

# Example usage:
t = (1, 2, 3)
element = 2
print(check_membership(t, element))

True

<h1>58. Tuple Packing</h1>

In [186]:
def pack_tuple(x, y, z):
    return (x, y, z)

# Example usage:
x, y, z = 1, 2, 3
print(pack_tuple(x, y, z))

(1, 2, 3)

<h1>59. Nested List Element Access</h1>

In [189]:
def access_elements(nested_list, row, col):
    return nested_list[row][col]

# Example usage:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(access_elements(nested_list, 1, 2))  # Output: 6

6

<h1>60. Nested List Flattening</h1>

In [192]:
def flatten_nested_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(flatten_nested_list(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<h1>61. Nested List Sorting</h1>

In [195]:
def sort_nested_list(nested_list):
    return sorted(nested_list, key=len)

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(sort_nested_list(nested_list))

[[4, 5], [1, 2, 3], [6, 7, 8, 9]]

<h1>62. List of Tuples Conversion</h1>

In [198]:
def convert_to_coordinates(nested_list):
    x_coords = [x for x, y in nested_list]
    y_coords = [y for x, y in nested_list]
    return x_coords, y_coords

# Example usage:
nested_list = [(1, 2), (3, 4), (5, 6)]
print(convert_to_coordinates(nested_list))

([1, 3, 5], [2, 4, 6])

<h1>63. Matrix Transpose</h1>

In [201]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

# Example usage:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(transpose_matrix(matrix))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

<h1>64. Nested List Concatenation</h1>

In [204]:
def concatenate_nested_lists(nested_list):
    concatenated_list = [item for sublist in nested_list for item in sublist]
    return concatenated_list

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(concatenate_nested_lists(nested_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

<h1>65. Count Even Numbers</h1>

In [207]:
def count_even_numbers(nested_list):
    even_count = sum(1 for sublist in nested_list for item in sublist if item % 2 == 0)
    return even_count

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(count_even_numbers(nested_list))

4

<h1>66. Maximum Element in Nested List</h1>

In [210]:
def max_element(nested_list):
    return max(max(sublist) for sublist in nested_list)

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(max_element(nested_list))

9

<h1>67. Diagonal Sum of Matrix</h1>

In [213]:
def diagonal_sum(matrix):
    return sum(matrix[i][i] for i in range(len(matrix)))

# Example usage:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(diagonal_sum(matrix))

15

<h1>68. Nested List Element Search</h1>

In [216]:
def search_element(nested_list, element):
    for i, sublist in enumerate(nested_list):
        if element in sublist:
            return i, sublist.index(element)
    return None

# Example usage:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
print(search_element(nested_list, 5))

(1, 1)

<h1>69. Duplicate Removal</h1>

In [219]:
def remove_duplicates(input_list):
    return set(input_list)

# Example usage:
input_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(input_list))

{1, 2, 3, 4, 5}

<h1>70. Set Intersection</h1>

In [222]:
def set_intersection(set_a, set_b):
    return set_a & set_b

# Example usage:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
print(set_intersection(set_a, set_b))

{2, 3}

<h1>71. Set Union</h1>

In [225]:
def set_union(set_a, set_b):
    return set_a | set_b

# Example usage:
set_a = {1, 2, 3}
set_b = {3, 4, 5}
print(set_union(set_a, set_b))

{1, 2, 3, 4, 5}

<h1>72. Set Difference</h1>

In [228]:
def set_difference(set_a, set_b):
    return set_a - set_b

# Example usage:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
print(set_difference(set_a, set_b))

{1}

<h1>73. Set Symmetric Difference</h1>

In [231]:
def set_symmetric_difference(set_a, set_b):
    return set_a ^ set_b

# Example usage:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
print(set_symmetric_difference(set_a, set_b))

{1, 4}

<h1>74. Set Operations</h1>

In [234]:
def set_operations(set_a, set_b, set_c):
    intersection_ab = set_a & set_b
    union_bc = set_b | set_c
    difference_ca = set_c - set_a
    return intersection_ab, union_bc, difference_ca

# Example usage:
set_a = {1, 2, 3}
set_b = {2, 3, 4}
set_c = {3, 4, 5}
print(set_operations(set_a, set_b, set_c))

({2, 3}, {2, 3, 4, 5}, {4, 5})

<h1>75. Set Subset Check</h1>

In [237]:
def is_subset(set_a, set_b):
    return set_a.issubset(set_b)

# Example usage:
set_a = {1, 2}
set_b = {1, 2, 3, 4}
print(is_subset(set_a, set_b))

True

<h1>76. Set Superset Check</h1>

In [240]:
def is_superset(set_a, set_b):
    return set_a.issuperset(set_b)

# Example usage:
set_a = {1, 2, 3, 4}
set_b = {1, 2}
print(is_superset(set_a, set_b))

True

<h1>77. Set Length Check</h1>

In [243]:
def set_length(input_set):
    return len(input_set)

# Example usage:
input_set = {1, 2, 3, 4, 5}
print(set_length(input_set))

5

<h1>78. Set Membership Test</h1>

In [248]:
def check_membership(input_set, element):
    return "Found" if element in input_set else "Not Found"

# Example usage:
input_set = {1, 2, 3, 4, 5}
element = int(input("Enter an element: "))

print(check_membership(input_set, element))

Enter an element:  5

Found

<h1>79. Dictionary Manipulation</h1>

In [251]:
def manipulate_dictionary(student_scores, new_student, new_score, existing_student, updated_score):
    student_scores[new_student] = new_score
    if existing_student in student_scores:
        student_scores[existing_student] = updated_score
    return student_scores

# Example usage:
student_scores = {'Alice': 85, 'Bob': 90}
new_student = 'Charlie'
new_score = 95
existing_student = 'Alice'
updated_score = 88
print(manipulate_dictionary(student_scores, new_student, new_score, existing_student, updated_score))

{'Alice': 88, 'Bob': 90, 'Charlie': 95}

<h1>80. Dictionary Keys and Values</h1>

In [254]:
def print_keys_values(d):
    for key, value in d.items():
        print(f"Key: {key}, Value: {value}")

# Example usage:
d = {'Alice': 85, 'Bob': 90}
print_keys_values(d)

Key: Alice, Value: 85
Key: Bob, Value: 90

<h1>81. Dictionary Length</h1>

In [257]:
def dictionary_length(d):
    return len(d)

# Example usage:
d = {'Alice': 85, 'Bob': 90}
print(dictionary_length(d))

2

<h1>82. Dictionary Value Search</h1>

In [268]:
def search_by_price(items, price):
    for item, item_price in items.items():
        if item_price == price:
            return item
    return "Item not found"

# Example usage:
items = {'apple': 1.5, 'banana': 0.5, 'cherry': 2.0}
price = float(input("Enter a price: "))
print(search_by_price(items, price))

Enter a price:  .5

banana

<h1>83. Dictionary Merging</h1>

In [271]:
def merge_dictionaries(dict1, dict2):
    merged_dict = {**dict1, **dict2}
    return merged_dict

# Example usage:
dict1 = {'Alice': 85, 'Bob': 90}
dict2 = {'Charlie': 95, 'David': 80}
print(merge_dictionaries(dict1, dict2))

{'Alice': 85, 'Bob': 90, 'Charlie': 95, 'David': 80}

<h1>84. Dictionary Key Removal</h1>

In [274]:
def remove_item(d, item):
    if item in d:
        del d[item]
    return d

# Example usage:
d = {'apple': 10, 'banana': 20, 'cherry': 30}
item = 'banana'
print(remove_item(d, item))

{'apple': 10, 'cherry': 30}

<h1>85. Dictionary Sorting</h1>

In [277]:
def sort_by_age(d):
    return dict(sorted(d.items(), key=lambda item: item[1]))

# Example usage:
d = {'Alice': 25, 'Bob': 22, 'Charlie': 23}
print(sort_by_age(d))

{'Bob': 22, 'Charlie': 23, 'Alice': 25}

<h1>86. Dictionary Frequency Count</h1>

In [280]:
def frequency_count(s):
    freq_dict = {}
    for char in s:
        if char in freq_dict:
            freq_dict[char] += 1
        else:
            freq_dict[char] = 1
    return freq_dict

# Example usage:
s = "hello world"
print(frequency_count(s))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

<h1>87. Dictionary Comprehension</h1>

In [283]:
def list_to_dict(lst):
    return {x: x**2 for x in lst}

# Example usage:
lst = [1, 2, 3, 4]
print(list_to_dict(lst))

{1: 1, 2: 4, 3: 9, 4: 16}

<h1>88. Dictionary Key Check</h1>

In [290]:
def check_key(d, key):
    return "Key Found" if key in d else "Key Not Found"

# Example usage:
d = {'Alice': 85, 'Bob': 90}
key =(input("Enter a key: "))
print(check_key(d, key))

Enter a key:  Bob

Key Found

<h1>89. Access Nested Dictionary</h1>

In [293]:
# Given nested dictionary
students = {
    'student1': {'name': 'John', 'age': 20, 'address': '123 Main St'},
    'student2': {'name': 'Marie', 'age': 22, 'address': '456 Maple Ave'}
}

# Access and print specific information
print("Name:", students['student1']['name'])
print("Age:", students['student1']['age'])
print("Address:", students['student1']['address'])

Name: John
Age: 20
Address: 123 Main St

<h1>90. Nested Dictionary Length</h1>

In [315]:
# Given nested dictionary
students = {
    'student1': {'name': 'John', 'age': 20, 'address': '123 Main St'},
    'student2': {'name': 'Marie', 'age': 22, 'address': '456 Maple Ave'}
}

# Calculate and print the total number of key-value pairs
total_pairs = sum(len(details) for details in students.values())
print("Total number of key-value pairs:", total_pairs)

Total number of key-value pairs: 6

<h1>91. Nested Dictionary Update</h1>

In [299]:
# Given nested dictionary
employees = {
    'emp1': {'name': 'John', 'salary': 50000},
    'emp2': {'name': 'Marie', 'salary': 60000}
}

# Update an employee's salary based on their employee ID
employee_id = 'emp1'
new_salary = 55000
if employee_id in employees:
    employees[employee_id]['salary'] = new_salary

print("Updated employee details:", employees)

Updated employee details: {'emp1': {'name': 'John', 'salary': 55000}, 'emp2': {'name': 'Marie', 'salary': 60000}}

<h1>92. Nested Dictionary Sorting</h1>

In [302]:
# Given nested dictionary
products = {
    'product1': {'name': 'Laptop', 'price': 800, 'quantity': 10},
    'product2': {'name': 'Phone', 'price': 500, 'quantity': 20},
    'product3': {'name': 'Tablet', 'price': 300, 'quantity': 15}
}

# Sort products based on their prices in ascending order
sorted_products = dict(sorted(products.items(), key=lambda item: item[1]['price']))

print("Sorted products by price:", sorted_products)

Sorted products by price: {'product3': {'name': 'Tablet', 'price': 300, 'quantity': 15}, 'product2': {'name': 'Phone', 'price': 500, 'quantity': 20}, 'product1': {'name': 'Laptop', 'price': 800, 'quantity': 10}}

<h1>93. Nested Dictionary Key Search</h1>

In [317]:
# Nested Dictionary Key Search: Write a Python program that takes a key as input and searches for it in a nested dictionary.
# If found, print the corresponding value, otherwise, print “Key Not Found.”

def search_key_in_dict(d, key):
    if key in d:
        return d[key]
    
    for k, v in d.items():
        if isinstance(v, dict):
            result = search_key_in_dict(v, key)
            if result is not None:
                return result
    return None

# Example nested dictionary
nested_dict = {
    'a': 1,
    'b': {
        'c': 2,
        'd': {
            'e': 3
        }
    },
    'f': 4
}

# Input key
key_to_search = input("Enter the key to search: ")

# Search for the key in the dictionary
value = search_key_in_dict(nested_dict, key_to_search)

if value is not None:
    print(f"Key found, value: {value}")
else:
    print("Key Not Found")

Enter the key to search:  b

Key found, value: {'c': 2, 'd': {'e': 3}}

<h1>94. Prime Number Checker</h1>

In [320]:
# Prime Number Checker: Write a Python program that takes a number as input and determines if it is a prime number or not.

number = int(input("Enter a number: "))

if number > 1:
    for i in range(2, number):
        if number % i == 0:
            print(f"{number} is not a prime number.")
            break
    else:
        print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:  7

7 is a prime number.

<h1>95. Even Number Printer</h1>

In [323]:
# Even Number Printer: Write a Python program to print all even numbers from 1 to 20. 
# Use a `for` loop and `continue` to skip odd numbers.

for num in range(1, 21):
    if num % 2 != 0:
        continue
    print(num)

2
4
6
8
10
12
14
16
18
20

<h1>96. Password Validator</h1>

In [328]:
# Password Validator: Write a Python program that takes a password as input and checks if it meets the criteria.

while True:
    password = input("Enter your password: ")
    
    if len(password) < 8:
        print("Password must be at least 8 characters long.")
        continue
    
    if not any(char.isdigit() for char in password):
        print("Password must contain at least one digit.")
        continue
    
    if not any(char.isupper() for char in password):
        print("Password must contain at least one uppercase letter.")
        continue
    
    if not any(char.islower() for char in password):
        print("Password must contain at least one lowercase letter.")
        continue
    
    print("Password accepted.")
    break

Enter your password:  #sujon26

Password must contain at least one uppercase letter.

Enter your password:  @Sujon12

Password accepted.

<h1>97. Divisible by 3 or 5</h1>

In [331]:
# Divisible by 3 or 5: Write a Python program to print all numbers from 1 to 50 that are divisible by either 3 or 5.

for num in range(1, 51):
    if num % 3 != 0 and num % 5 != 0:
        continue
    print(num)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50

<h1>98. Positive Number Sum</h1>

In [334]:
# Positive Number Sum: Write a Python program that takes positive numbers as input until a negative number is entered.

total_sum = 0

while True:
    number = int(input("Enter a positive number: "))
    if number < 0:
        break
    total_sum += number

print(f"The sum of all positive numbers is: {total_sum}")

Enter a positive number:  5
Enter a positive number:  7
Enter a positive number:  -2

The sum of all positive numbers is: 12

<h1>99. Word Palindrome Checker</h1>

In [348]:
# Word Palindrome Checker: Write a Python program that takes a word as input and checks if it is a palindrome.
def is_palindrome(word):
    # Convert the word to lowercase to make the check case-insensitive
    word = word.lower()
    # Initialize pointers for the start and end of the word
    start = 0
    end = len(word) - 1
    
    # Use a while loop to compare characters from both ends
    while start < end:
        if word[start] != word[end]:
            return False
        start += 1
        end -= 1
    
    return True

# Take input from the user
input_word = input("Enter a word: ")

# Check if the input word is a palindrome
if is_palindrome(input_word):
    print(f"'{input_word}' is a palindrome.")
else:
    print(f"'{input_word}' is not a palindrome.")

Enter a word:  madam

'madam' is a palindrome.

<h1>100. Odd Number Finder</h1>

In [351]:
# Odd Number Finder: Write a Python program to find the first odd number from a list of integers.

numbers = [2, 4, 6, 8, 9, 10]

for num in numbers:
    if num % 2 != 0:
        print(f"The first odd number is: {num}")
        break

The first odd number is: 9

<h1>101. Number Guessing Game</h1>

In [354]:
# Number Guessing Game: Write a Python program that generates a random number between 1 and 100 and lets the user guess it.

import random

target_number = random.randint(1, 100)

while True:
    guess = int(input("Guess the number (between 1 and 100): "))
    
    if guess == target_number:
        print("Congratulations! You guessed the correct number.")
        break
    elif guess < target_number:
        print("Too low! Try again.")
    else:
        print("Too high! Try again.")

Guess the number (between 1 and 100):  4

Too low! Try again.

Guess the number (between 1 and 100):  7

Too low! Try again.

Guess the number (between 1 and 100):  5

Too low! Try again.

Guess the number (between 1 and 100):  6

Too low! Try again.

Guess the number (between 1 and 100):  7

Too low! Try again.

Guess the number (between 1 and 100):  7

Too low! Try again.

Guess the number (between 1 and 100):  8

Too low! Try again.

Guess the number (between 1 and 100):  9

Too low! Try again.

Guess the number (between 1 and 100):  0

Too low! Try again.

Guess the number (between 1 and 100):  11

Too low! Try again.

Guess the number (between 1 and 100):  12

Too low! Try again.

Guess the number (between 1 and 100):  3434

Too high! Try again.

Guess the number (between 1 and 100):  50

Too low! Try again.

Guess the number (between 1 and 100):  90

Too high! Try again.

Guess the number (between 1 and 100):  45

Too low! Try again.

Guess the number (between 1 and 100):  60

Too low! Try again.

Guess the number (between 1 and 100):  70

Congratulations! You guessed the correct number.

<h1>102. Vowel Counter</h1>

In [357]:
# Vowel Counter: Write a Python program that takes a string as input and counts the number of vowels (a, e, i, o, u) in it.

vowels = "aeiou"
count = 0
input_string = input("Enter a string: ").lower()

for char in input_string:
    if char not in vowels:
        continue
    count += 1

print(f"Number of vowels in the string: {count}")

Enter a string:  hello

Number of vowels in the string: 2

<h1>103. Unique Characters</h1>

In [360]:
# Unique Characters: Write a Python program that takes a string as input and checks if it contains all unique characters.

input_string = input("Enter a string: ")
seen_characters = set()

for char in input_string:
    if char in seen_characters:
        print(f"The string does not contain all unique characters. '{char}' is repeated.")
        break
    seen_characters.add(char)
else:
    print("The string contains all unique characters.")

Enter a string:  Bangladesh

The string does not contain all unique characters. 'a' is repeated.

<h1>104. Factorial Calculator</h1>

In [363]:
# Factorial Calculator: Write a Python function called `factorial` that takes an integer as input and returns its factorial.

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Test the function with different values
print(factorial(5))  
print(factorial(0))  
print(factorial(7))

120
1
5040

<h1>105. Palindrome Checker</h1>

In [366]:
# Palindrome Checker: Write a Python function called `is_palindrome` that takes a string as input and returns `True` if it is a palindrome.

def is_palindrome(word):
    return word == word[::-1]

# Test the function with different words
print(is_palindrome("radar")) 
print(is_palindrome("hello"))  
print(is_palindrome("level"))

True
False
True

<h1>106. Even or Odd Checker</h1>

In [369]:
# Even or Odd Checker: Write a Python function called `even_or_odd` that takes an integer as input and returns “Even” or “Odd”.

def even_or_odd(number):
    return "Even" if number % 2 == 0 else "Odd"

# Test the function with different numbers
print(even_or_odd(10))  
print(even_or_odd(7))   
print(even_or_odd(0))

Even
Odd
Even

<h1>107. List Sum Calculator</h1>

In [372]:
# List Sum Calculator: Write a Python function called `list_sum` that takes a list of integers and returns the sum.

def list_sum(numbers):
    return sum(numbers)

# Test the function with different lists
print(list_sum([1, 2, 3, 4, 5]))  
print(list_sum([10, 20, 30]))    
print(list_sum([-1, -2, -3]))

15
60
-6

<h1>108. Greatest Common Divisor (GCD) Calculator</h1>

In [375]:
# GCD Calculator: Write a Python function called `gcd` that takes two integers and returns their greatest common divisor.

def gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Test the function with different pairs of numbers
print(gcd(48, 18))  
print(gcd(54, 24))  
print(gcd(17, 13))

6
6
1

<h1>109. Leap Year Checker</h1>

In [378]:
# Leap Year Checker: Write a Python function called `is_leap_year` that takes a year as input and returns `True` if it is a leap year.

def is_leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

# Test the function with different years
print(is_leap_year(2020))  
print(is_leap_year(1900))  
print(is_leap_year(2000))

True
False
True

<h1>110. Math Operations</h1>

In [381]:
# Math Operations: Write a Python function called `math_operations` that takes three numbers 
# and a string representing an operation (‘add’, ‘subtract’, ‘multiply’, or ‘divide’).

def math_operations(a, b, c, operation):
    
    def add(x, y, z):
        return x + y + z
    
    def subtract(x, y, z):
        return x - y - z
    
    def multiply(x, y, z):
        return x * y * z
    
    def divide(x, y, z):
        if y == 0 or z == 0:
            return "Cannot divide by zero!"
        return x / y / z

    if operation == 'add':
        return add(a, b, c)
    elif operation == 'subtract':
        return subtract(a, b, c)
    elif operation == 'multiply':
        return multiply(a, b, c)
    elif operation == 'divide':
        return divide(a, b, c)
    else:
        return "Invalid operation!"

# Test the function
print(math_operations(5, 3, 2, 'add'))       
print(math_operations(10, 4, 2, 'subtract')) 
print(math_operations(2, 3, 4, 'multiply'))  
print(math_operations(8, 2, 2, 'divide'))

10
4
24
2.0

<h1>111. Greeting Generator</h1>

In [384]:
# Greeting Generator: Write a Python function called `greeting_generator` that takes a name 
# as input and returns a greeting message using nested functions.

def greeting_generator(name):
    
    def greeting():
        return f"Hello, {name}!"
    
    def ask_question():
        return "How are you today?"
    
    return greeting() + " " + ask_question()

# Test the function
print(greeting_generator("Alice")) 
print(greeting_generator("Bob"))

Hello, Alice! How are you today?
Hello, Bob! How are you today?

<h1>112. Temperature Converter</h1>

In [387]:
# Temperature Converter: Write a Python function called `temperature_converter` that takes a temperature value 
# and a string representing the scale (‘C’ for Celsius or ‘F’ for Fahrenheit) as input. 

def temperature_converter(temp, scale):
    
    def celsius_to_fahrenheit(c):
        return (c * 9/5) + 32
    
    def fahrenheit_to_celsius(f):
        return (f - 32) * 5/9
    
    if scale == 'C':
        return celsius_to_fahrenheit(temp)
    elif scale == 'F':
        return fahrenheit_to_celsius(temp)
    else:
        return "Invalid scale! Please use 'C' for Celsius or 'F' for Fahrenheit."

# Test the function
print(temperature_converter(100, 'C'))  
print(temperature_converter(32, 'F'))   
print(temperature_converter(0, 'C'))

212.0
0.0
32.0

<h1>113. Factorial Calculation</h1>

In [390]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Test the function with different values
print(factorial(5)) 
print(factorial(7))

120
5040

<h1>114. Fibonacci Series</h1>

In [393]:
def Fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return Fibonacci(n - 1) + Fibonacci(n - 2)

# Test the function with different values
print(Fibonacci(10))  
print(Fibonacci(15))

55
610

<h1>115. The Sum of Digits</h1>

In [399]:
# Sum of Digits: Write a recursive Python function called `sum_of_digits` that takes an integer and returns the sum of its digits.

def sum_of_digits(n):
    if n == 0:
        return 0
    else:
        return n % 10 + sum_of_digits(n // 10)

# Test the function
print(sum_of_digits(12345))  
print(sum_of_digits(9876))

15
30

<h1>116. Binary Search</h1>

In [402]:
# Binary Search: Write a recursive Python function called `binary_search` that takes a sorted list and a target value.

def binary_search(arr, target, low, high):
    if low > high:
        return -1
    mid = (low + high) // 2
    
    if arr[mid] == target:
        return mid
    elif arr[mid] > target:
        return binary_search(arr, target, low, mid - 1)
    else:
        return binary_search(arr, target, mid + 1, high)

# Test the function
arr = [1, 3, 5, 7, 9, 11]
print(binary_search(arr, 7, 0, len(arr) - 1))  # Output: 3
print(binary_search(arr, 4, 0, len(arr) - 1))  # Output: -1

3
-1

<h1>117. Power Calculation</h1>

In [409]:
# Power Calculation: Write a recursive Python function called `power` that takes two positive integers, base and exponent.

# Recursive Power Calculation Function
def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)

# Take input from the user
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))

# Call the function and print the result
print(f"{base} raised to the power of {exponent} is {power(base, exponent)}")

Enter the base:  2
Enter the exponent:  5

2 raised to the power of 5 is 32